* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 10px;
}

.navbar {
    background-color: #0057B8;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.navbar-title{
    margin-left: 10px;
}

.navbar-menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.navbar-link {
    color: #FFFFFF;
    text-decoration: none;
}

.container-home {
    height: 240px;
    margin-top: 10px;
    padding: 10px;
    background-image: url("./img/fondo-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.sub-container-home {
    width: 70%;
    height: 100%;
    background-color: #ffffffcb;
    display: flex;
    flex-direction: column;
}

.container-home-title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0; 
}

.container-home-content {
    height: 70%;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center; 
    padding: 10px;
}

.container-search{
    border: 1px solid black;
    margin-top: 10px;
    height: 220px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-search-inner{
    background-color: #0057B8;
    width: 60%;
}

.container-search-btn {
    width: 20%;
}

.container-news {
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden; 
    background-color: #0057B8;
}

.carousel-news {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
}

.container-news-nav{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.carousel-news-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-news-item {
    flex: 0 0 auto;
    width: 20%; 
    padding: 10px;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.carousel-new-img {
    width: 100%;
    height: 140px;
    object-fit: cover; 
}

.container-content{
    display: flex;
    justify-content: space-between;
}

.container-sports{
    border: 1px solid black;
    margin-top: 10px;
    width: 48%;
}

.container-sponsors{
    border: 1px solid black;
    margin-top: 10px;
    width: 48%;
}

.carousel-sponsors {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
}

.carousel-sponsors-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-sponsors-item {
    flex: 0 0 auto;
    width: 80%; 
    padding: 10px;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.carousel-sponsor-img {
    width: 70%;
}

.container-footer {
    border: 1px solid black;
    height: 160px;
    margin-top: 10px;
    background-color: #0057B8;
}

.container-footer-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.sub-container-footer {
    display: flex;
    justify-content: space-between;
}

.container-footer-form {
    width: 40%;
}