* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-home-title,
.container-news-title,
.container-sports-title,
.container-sponsors-title {
    color: #ff6600;
}

.container{
    margin: 10px;
}

.navbar {
    background-color: #0057B8;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.navbar-title{
    margin-left: 10px;
}

.navbar-menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.navbar-link {
    color: #FFFFFF;
    text-decoration: none;
}

.container-home {
    height: 280px;
    margin-top: 10px;
    padding: 10px;
    background-image: url("./img/fondo-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.sub-container-home {
    width: 60%;
    height: 80%;
    background-color: #ffffffe2;
    display: flex;
    flex-direction: column;
    color: #5F5F5F;
}

.container-home-title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0; 
}

.container-home-content {
    height: 70%;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center; 
    padding: 10px;
}

.container-search {
    margin: 20px auto;
    padding: 20px;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    background-color: #5F5F5F;
}

.container-search-title {
    margin-bottom: 20px;
    color: #FFFFFF;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    width: 70%;
    color: #FFFFFF;
}

.search-form div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.search-form input,
.search-form select {
    width: 60%;
    padding: 5px;
    border: 0.5px solid #5F5F5F;
    border-radius: 5px;
    color: #5F5F5F;
}

button {
    cursor: pointer;
    margin-top: 10px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px;
}

.container-news {
    margin-top: 10px;
    padding: 10px;
    overflow: hidden; 
    background-color: #0057B8;
    color: #FFFFFF;
}


.container-news-nav{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.carousel-news-inner {
    display: flex;
}

.carousel-news-item {
    flex: 0 0 auto;
    width: 20%; 
    padding: 10px;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.carousel-news-container-btn {
    display: flex;
    justify-content: center;
}

.carousel-news-btn {
    background-color: #ff6600;
    border: none;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 10px;
}

.carousel-new-img {
    width: 100%;
    height: 140px;
    object-fit: cover; 
}

.container-content{
    display: flex;
    justify-content: space-between;
}

.container-sports,
.container-sponsors{
    background-color: #5F5F5F;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 48%;
}

.container-sports-links {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
}

.container-sports-links li {
    font-size: 1.2rem;
    padding: 8px;
    text-align: center;
}

.carousel-sponsors {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    margin-top: 10px;
}

.carousel-sponsors-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-sponsors-item {
    flex: 0 0 auto;
    width: 30%; 
    padding: 10px;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.carousel-sponsor-img {
    height: 140px;
}

.container-footer {
    padding: 10px;
    height: 160px;
    margin-top: 10px;
    background-color: #0057B8;
}

.container-footer-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.sub-container-footer {
    display: flex;
    justify-content: space-between;
    height: 45%;
}

.container-footer-contact-info, 
.container-footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
}

.container-footer-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}